<.header>
  New Ship
  <:subtitle>Use this form to manage ship records in your database.</:subtitle>
</.header>

<.ship_form changeset={@changeset} action={~p"/ships"} />

<.back navigate={~p"/ships"}>Back to ships</.back>
