<.simple_form for={@form} action={@action}>
  <.input field={@form[:name]} label="Name"/>
  <.input field={@form[:category]} label="Category"/>

  <:actions>
    <.button>Save Game</.button>
  </:actions>
</.simple_form>
