<.header>
  Listing Games
  <:actions>
    <.link href={~p"/games/new"}>
      <.button>New Game</.button>
    </.link>
  </:actions>
</.header>

<.table id="games" rows={@games} row_click={&JS.navigate(~p"/games/#{&1}")}>
  <:col :let={game} label="Player"><%= game.player %></:col>

  <:action :let={game}>
    <.link href={~p"/games/#{game}"} method="delete" data-confirm="Are you sure?">
      Delete
    </.link>
  </:action>
</.table>
